{% extends "base.html" %}
{% load cms_tags static i18n %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h3>{% trans "Контакт" %}</h3>
          </div>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <div class="mx-auto">
      {% placeholder "content" %}      
    </div>

  </main><!-- End #main -->

{% endblock content %}