
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        {% if messages %}   
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show me-auto ms-auto mt-3" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        {% endif %}

        <div class="row mt-5">

          <div class="col-lg-8 mx-auto" data-aos="fade-left">

            <form method="post" role="form" class="email-form">
              {% csrf_token %}

              <div class="row">
                <div class="col-md-6 form-group">
                  <!-- <input type="text" name="name" class="form-control" id="name" placeholder="Ваше ім'я" required> -->
                  {{ form.name }}
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <!-- <input type="email" class="form-control" name="email" id="email" placeholder="Ваша електрона пошта" required> -->
                  {{ form.email_address }}
                </div>
              </div>
              <div class="form-group mt-3">
                {{ form.subject }}
              </div>
              <div class="form-group mt-3">
                <!-- <textarea class="form-control" name="message" rows="5" placeholder="Текст" required></textarea> -->
                  {{ form.text }}
              </div>

              <div class="text-center"><button type="submit">Надіслати</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->